@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color: azure;
}

h2, h1 {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

input {
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}

#as {
    display: none;
}